:root {
  --primary-color:        #2971FF;
  --primary-color-dark:   #0C1E3E;
  --primary-color-light:  #2971FF;
  --accent-color:         #69D3F5;
  --accent-color-light:   #FF4088;
  --accent-color-dark:    #33ba91;
  --text-color-primary:   #373737;
  --text-on-primary-color: #fff;
  --text-color-secondary: #ccc;
  --text-color-disabled:  #F7f7f7;
  --divider-color:        #f6f6f6;
  --warn-color: red;

  --blue: var(--primary-color);
}
