{{ $currentPage := . }}
<nav class="bg-primary-color-dark pv4 w-100" role="navigation">

  <div class="center flex-ns flex-wrap items-center justify-start mw9 ">
    <a href="{{ .Site.BaseURL }}" class="link white" >
        <img src="/images/primary-logo-256.png" />
    </a>
    <!-- <h1 class="dim f3 lh-solid ml0-ns mr0 mr4-l mv0 pl3 pl4-ns">


    </h1> -->
    <ul class="list ma0 pa0 dn dib-l">
      {{ range .Site.Menus.global }}
        <li class="f5 dib mr4" role="menuitem">
            {{/* TODO: Create an "Global" active class to show which site one is currently at */}}
          <a href="{{ .URL }}" class="dim link{{ if $currentPage.IsMenuCurrent "global" . }} gray {{else}} light-silver{{ end }}">
            {{ .Name }}
              {{/* using ".Post" from the menu system to determine if we should show an icon for external links */}}
            {{ $post_status := printf "%s" .Post }}
            {{ if eq $post_status "external" }}
              {{ partial "svg/link-ext.svg" (dict "size" "10") }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>

    <div class="db dib-ns pl3">
      {{- partial "site-search.html" . -}}
    </div>

    <span class="absolute mt1 mt2-l pr3 right-0 top-0">
      {{- partialCached "social-follow.html" . -}}
    </span>

  </div>
</nav>
